{% sw_extends '@Storefront/storefront/component/product/card/badges.html.twig' %}


{% block component_product_badges %}
    <div class="product-badges">
        {% if not product.customFields.custom_badge_active %}
                
            {% block component_product_badges_discount %}
                {% set listPrice = product.priceRange or product.calculatedPrices.count > 0 ? null : product.calculatedPrice.listPrice.percentage > 0 %}

                {% if listPrice %}
                    <div class="badge badge-danger badge-discount">
                        <span>&#37;</span>
                    </div>
                {% endif %}
            {% endblock %}

            {% block component_product_badges_topseller %}
                {% if product.markAsTopseller %}
                    <div>
                        <span class="badge badge-warning badge-topseller">{{ "listing.boxLabelTopseller"|trans|sw_sanitize }}</span>
                    </div>
                {% endif %}
            {% endblock %}

            {% block component_product_badges_new %}
                {% if product.isNew %}
                    <div>
                        <span class="badge badge-success badge-new">{{ "listing.boxLabelNew"|trans|sw_sanitize }}</span>
                    </div>
                {% endif %}
            {% endblock %}

        {% endif %}    
    </div>
    
{% endblock %}


