{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">
                            {# fallback if display mode is not set #}
                            {% set displayMode = displayMode ?: 'standard' %}

                            {# set display mode 'cover' for box-image with standard display mode #}
                            {% if layout == 'image' and displayMode == 'standard' %}
                                {% set displayMode = 'cover' %}
                            {% endif %}

                            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                               title="{{ name }}"
                               class="product-image-link is-{{ displayMode }}">
                                <div class="product-image">

                                    {% if product.customFields.custom_badge_active %}
                                        {% block component_product_badges_custom %}

                                        
                                            {% set badgeID = product.customFields.custom_badge_icon %}
                                            {% set mediaCollection = searchMedia([badgeID], context.context) %}
                                            {% set badgeMedia = mediaCollection.get(badgeID) %}
                                
                                            
                                            <div class="badge-custom"><img src={{badgeMedia.url}} alt="custom_badge"></div>
                                            
                                    
                                        {% endblock %}
                                    {% endif %}

                                    {% if cover.url %}
                                        {% set attributes = {
                                            'class': 'product-image is-'~displayMode,
                                            'alt': (cover.translated.alt ?: name),
                                            'title': (cover.translated.title ?: name)
                                        } %}

                                        {% if displayMode == 'cover' or displayMode == 'contain' %}
                                            {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                                        {% endif %}

                                        {% sw_thumbnails 'product-image-thumbnails' with {
                                            media: cover,
                                            sizes: {
                                                'xs': '501px',
                                                'sm': '315px',
                                                'md': '427px',
                                                'lg': '333px',
                                                'xl': '284px'
                                            }
                                        } %}
                                    {% else %}
                                        <div class="product-image-placeholder">
                                            {% sw_icon 'placeholder' style {
                                                'size': 'fluid'
                                            } %}
                                        </div>
                                    {% endif %}
                                </div>    
                            </a>
                        </div>
                    {% endblock %}